<header class="main-nav-header">
    <a id="logoHomeWebmotors" class="link-home" routerLink="/"><img class="nav-logo"
            src="https://www.webmotors.com.br/assets/img/webmotors.svg?t=4576" alt="Webmotor's Logo"
            title="Webmotor's Logo"></a>
    <button (click)="toggleMinMenu()" class="c-btn menu-toggle">Menu</button>
    <ul [class.show]="showMinMenu" class="nav-links">
        <li class="nav-links-item">Comprar</li>
        <li class="nav-links-item">Vender</li>
        <li class="nav-links-item">Serviços</li>
        <li class="nav-links-item">Ajuda</li>
        <li class="nav-links-item">Entrar</li>
        <li class="nav-links-item">L</li>
        <li class="nav-links-item">L</li>
        <li class="nav-links-item">A</li>
    </ul>

</header>